@import "tailwindcss";

/* Tema fixo DARK */
:root {
  --background: #000000;
  --foreground: #f5f5f5;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Links mantêm a cor do texto por padrão */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove highlight azul feio ao clicar no mobile */
*:focus {
  outline: none;
}
